@model RequestViewModel
@inject UserManager<Employee> UserManager

@{
    ViewData["Title"] = "Wnioski";

    var user = await UserManager.GetUserAsync(User);
}

<h1>Twoje wnioski</h1>

@if (Model.Request.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Numer
                </th>
                <th>
                    Rodzaj
                </th>
                <th>
                    Data
                </th>
                <th>
                    Od
                </th>
                <th>
                    Do
                </th>
                <th>
                    Status
                </th>
                <th>
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Request)
            {
                <tr>
                    <td>
                        @item.RequestNumber
                    </td>
                    <td>
                        @Model.RequestType.Find(r => r.IdRequestType == item.IdRequestType).RequestTypeName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Model.RequestStatus.Find(r => r.IdRequestStatus == item.IdRequestStatus).StatusName
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteRequest" asp-route-id="@item.IdRequest">
                            <a class="btn btn-info btn-sm" asp-controller="Request" asp-action="RequestDetails" asp-route-id="@item.IdRequest">
                                Szczegóły
                            </a>
                            <button type="submit" class="btn btn-danger btn-sm">
                                Usuń
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a class="btn btn-primary" style="width:auto" asp-controller="AvailableAbsence" asp-action="Summary" asp-route-id="@user.Id">
            Twoje urlopy
        </a>
        <a class="btn btn-primary" style="width:auto" asp-controller="" asp-action="">
            Złóż wniosek
        </a>
    </div>

}
else
{
    <h3>Brak dostępnych wniosków</h3>
}

