@model HRMS_Project.Models.ViewModels.RequestDetailsViewModel
@inject UserManager<Employee> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "Szczegóły wniosku";
}

<h1>Szczegóły wniosku</h1>

<hr />

<div>

    <dl class="row">
        <dt class="col-sm-2">
            Numer:
        </dt>
        <dd class="col-sm-10">
            @Model.Request.RequestNumber
        </dd>
        <dt class="col-sm-2">
            Rodzaj wniosku:
        </dt>
        <dd class="col-sm-10">
            @Model.RequestType.RequestTypeName
        </dd>
        <dt class="col-sm-2">
            Rodzaj urlopu:
        </dt>
        <dd class="col-sm-10">
            @Model.AbsenceType.AbsenceTypeName
        </dd>
        <dt class="col-sm-2">
            Data:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.RequestDate)
        </dd>
        <dt class="col-sm-2">
            Data od:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.StartDate)
        </dd>
        <dt class="col-sm-2">
            Data do:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Request.EndDate)
        </dd>
        <dt class="col-sm-2">
            Liczba jednostek:
        </dt>
        <dd class="col-sm-10">
            @Model.Request.Quantity
        </dd>
        <dt class="col-sm-2">
            Osoba wnioskująca:
        </dt>
        <dd class="col-sm-10">
            @Model.Request.IdEmployeeNavigation.FirstName @Model.Request.IdEmployeeNavigation.LastName
        </dd>
        <dt class="col-sm-2">
            Przełożony:
        </dt>
        <dd class="col-sm-10">
            @user.FirstName @user.LastName
        </dd>
        <dt class="col-sm-2">
            Status:
        </dt>
        <dd class="col-sm-10">
            @Model.RequestStatus.StatusName
        </dd>
        <dt class="col-sm-2">
            Opis:
        </dt>
        <dd class="col-sm-10">
            @Model.Request.EmployeeComment
        </dd>
        @if (Model.Request.ManagerComment != null)
        {
            <dt class="col-sm-2">
                Komentarz managera:
            </dt>
            <dd class="col-sm-10">
                @Model.Request.ManagerComment
            </dd>
        }

    </dl>

    @if (this.User.IsInRole("Administrator") || this.User.IsInRole("PracownikHR"))
    {
        <a class="btn btn-primary btn-sm" asp-controller="Request" asp-action="ApproveRequest" asp-route-id="@Model.Request.IdRequest">
            &#10004; Zaakceptuj
        </a>
        <a class="btn btn-danger btn-sm"  asp-controller="Request" asp-action="DeclineReason" asp-route-id="@Model.Request.IdRequest">
            &#10008; Odrzuć
        </a>
        <a asp-area="" asp-controller="Request" asp-action="PendingRequest" asp-route-id="@user.Id">Przejdź do oczekujących wniosków</a>

    }
    else
    {
        <a asp-action="ListRequest" asp-route-id="@user.Id">Powrót do listy wniosków</a>
    }
</div>