@model AbsenceViewModel
@inject UserManager<Employee> UserManager

@{
    ViewData["Title"] = "Lista urlopów";
}

<h1>Dostępne urlopy pracowników</h1>
<hr />

<div>
    <a class="btn btn-primary" style="width:auto" asp-controller="AvailableAbsence" asp-action="CreateAvailableAbsence">
        Dodaj nowy urlop
    </a>
    <a class="btn btn-primary" style="width:auto" asp-controller="AbsenceType" asp-action="CreateAbsenceType">
        Dodaj nowy rodzaj urlopu
    </a>
</div>

<br />

@if (Model.AvailableAbsence.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Pracownik
                </th>
                <th>
                    Rodzaj urlopu
                </th>
                <th>
                    Dostępne dni
                </th>
                <th>
                    Wykorzystane dni
                </th>
                <th>
                    Numer karty pracownika
                </th>
                <th>
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AvailableAbsence)
            {
                <tr>
                    <td>
                        @UserManager.FindByIdAsync(item.IdEmployee).Result.LastName @UserManager.FindByIdAsync(item.IdEmployee).Result.FirstName
                    </td>
                    <td>
                        @Model.AbsenceType.Find(a => a.IdAbsenceType == item.IdAbsenceType).AbsenceTypeName
                    </td>
                    <td>
                        @item.AvailableDays
                    </td>
                    <td>
                        @item.UsedAbsence
                    </td>
                    <td>
                        @UserManager.FindByIdAsync(item.IdEmployee).Result.IdCardNumber
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteAvailableAbsence" asp-route-id="@item.IdAvailableAbsence">
                            <a class="btn btn-primary btn-sm" style="width:auto" asp-controller="AvailableAbsence" asp-action="EditAvailableAbsence" asp-route-id="@item.IdAvailableAbsence">
                                Edytuj
                            </a>
                            <button type="submit" class="btn btn-danger btn-sm">
                                Usuń
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h3>Brak dostępnych urlopów</h3>
}