@model AbsenceViewModel
@inject UserManager<Employee> UserManager

@{
    ViewData["Title"] = "Dostępne urlopy";

    var user = await UserManager.GetUserAsync(User);
}

<h1>Dostępne urlopy</h1>

@if (Model.AvailableAbsence.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Typ urlopu
                </th>
                <th>
                    Początkowa pula
                </th>
                <th>
                    Dostępne dni
                </th>
                <th>
                    Wykorzystane dni
                </th>
                <th>
                    Dostępność
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AvailableAbsence)
            {
                <tr>
                    <td>
                        @Model.AbsenceType.Find(a => a.IdAbsenceType == item.IdAbsenceType).AbsenceTypeName
                    </td>
                    <td>
                        @(item.AvailableDays + item.UsedAbsence)
                    </td>
                    <td>
                        @item.AvailableDays
                    </td>
                    <td>
                        @item.UsedAbsence
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: @(item.AvailableDays*100/(item.AvailableDays + item.UsedAbsence))%" aria-valuemin="0" aria-valuemax="100">
                                @(item.AvailableDays*100/(item.AvailableDays + item.UsedAbsence))%
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a class="btn btn-primary" style="width:auto" asp-controller="Request" asp-action="ListRequest" asp-route-id="@user.Id">
            Twoje wnioski
        </a>
        <a class="btn btn-primary" style="width:auto" asp-controller="Request" asp-action="CreateRequest">
            Złóż wniosek
        </a>
    </div>

}
else
{
    <h3>Brak dostępnych urlopów</h3>
}

