@model IEnumerable<Employee>

@{
    ViewBag.Title = "Lista pracowników";
}

<h1>Lista pracowników</h1>

<a asp-action="Register" asp-controller="Account"
   class="btn btn-primary mb-3" style="width:auto">
    Dodaj nowego pracownika
</a>

@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Numer karty
                </th>
                <th>
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.IdCardNumber
                    </td>
                    <td>
                        <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id"
                           class="btn btn-primary">Edytuj</a>
                        <a href="#" class="btn btn-danger">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}
else
{
    <h3>Brak pracowników w systemie.</h3>
}