@model PaginatedList<HRMS_Project.Models.Employee>
@*IEnumerable<Employee>*@

@{
    ViewBag.Title = "Lista pracowników";
}

<h1>Pracownicy</h1>
<hr />

<a asp-action="Register" asp-controller="Account"
   class="btn btn-primary mb-3" style="width:auto">
    Dodaj nowego pracownika
</a>

<br />

<form method="get" asp-action="ListUsers">
    <p>
        <input type="search" placeholder="Wyszukaj pracownika..." value="@ViewData["CurrentFilter"]" name="searchString" style="width:250px;border-radius:4px" />
        <input class="btn-primary mb-4" type="submit" value="Wyszukaj" style="border-radius:4px" />
        <a asp-action="ListUsers"> | Usuń filtr</a>
    </p>
</form>

@if (Model.Any())
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Nazwisko
                </th>
                <th>
                    Imię
                </th>
                <th>
                    Drugie imię
                </th>
                <th>
                    Email
                </th>
                <th>
                    Numer karty
                </th>
                <th>
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.LastName
                    </td>
                    <td>
                        @user.FirstName
                    </td>
                    <td>
                        @user.SecondName
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.IdCardNumber
                    </td>
                    <td>
                        <form method="post" asp-action="DeleteUser" asp-route-id="@user.Id">
                            <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id"
                               class="btn btn-primary btn-sm">Edytuj</a>
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Czy na pewno chcesz usunąć pracownika: @user.LastName @user.FirstName wraz ze wszystkimi danymi?')">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";


    <a asp-action="ListUsers"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-outline-secondary @prevDisabled">
        Poprzednia strona
    </a>
    <label>Strona</label> @Model.PageIndex <label> / </label> @Model.TotalPages
    <a asp-action="ListUsers"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-outline-info @nextDisabled">
        Następna strona
    </a>

}
else
{
    <h3>Brak pracowników w systemie.</h3>
}