@model IEnumerable<Contract>

@{
    ViewData["Title"] = "Umowy";
}

<h1>Umowy</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numer umowy
            </th>
            <th>
                Pracownik
            </th>
            <th>
                Wynagrodzenie
            </th>
            <th>
                Data zawarcia umowy
            </th>
            <th>
                Data zakończenia umowy
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmployeeNavigation.LastName) @Html.DisplayFor(modelItem => item.IdEmployeeNavigation.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractEnd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdContract">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdContract">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdContract">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
