@model HRMS_Project.Models.ViewModels.EditContractViewModel

@{
    ViewData["Title"] = "Edycja umowy";
}

<h1>Edytowanie umowy</h1>

<hr />

<form asp-action="EditContract" class="mt-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Contract.IdContract" />
    <div class="form-group row">
        <label asp-for="Contract.IdEmployee" class="col-sm-2 col-form-label">Pracownik:</label>
        <div class="col-sm-10">
            <select asp-for="Contract.IdEmployee" class="form-control" asp-items="ViewBag.IdEmployee"></select>
        </div>
    </div>
    <div class="form-group row">
        <label  asp-for="Contract.Salary" class="col-sm-2 col-form-label">Wynagrodzenie brutto:</label>
        <div class="col-sm-10">
            <input type="number" asp-for="Contract.Salary" class="form-control">
            <span asp-validation-for="Contract.Salary" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Contract.ContractStart" class="col-sm-2 col-form-label">Początek:</label>
        <div class="col-sm-10">
            <input type="date" asp-format="{0:yyyy-MM-dd}" asp-for="Contract.ContractStart" class="form-control">
            <span asp-validation-for="Contract.ContractStart" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Contract.ContractEnd" class="col-sm-2 col-form-label">Koniec:</label>
        <div class="col-sm-10">
            <input type="date" asp-format="{0:yyyy-MM-dd}" asp-for="Contract.ContractEnd" class="form-control">
            <span asp-validation-for="Contract.ContractEnd" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Contract.IdContractType" class="col-sm-2 col-form-label">Typ:</label>
        <div class="col-sm-10">
            <select asp-for="Contract.IdContractType" class="form-control" asp-items="ViewBag.IdContractType"></select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Contract.IdContractStatus" class="col-sm-2 col-form-label">Status:</label>
        <div class="col-sm-10">
            <select asp-for="Contract.IdContractStatus" class="form-control" asp-items="ViewBag.IdContractStatus"></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Benefity:</label>
            <ul style="list-style-type:none">
            @*foreach(var benefit in Model.Benefits)*@
            @for (int i = 0; i < Model.Benefits.Count(); i++)
            {
                <li>
                    @*<h6><input type="checkbox" checked="@" name="Benefits" value="@benefit.IdBenefit" /> @benefit.BenefitName </h6>*@
                    <h5>

                        @Html.EditorFor(m => Model.Benefits[i].IsSelected)
                        @Html.DisplayFor(m => Model.Benefits[i].BenefitName) @Html.DisplayFor(m => Model.Benefits[i].Price) PLN

                        @Html.HiddenFor(m => Model.Benefits[i].BenefitName)
                        @Html.HiddenFor(m => Model.Benefits[i].IdBenefit)
                    </h5>
                </li>
            }
            </ul>
    </div>

    <div class="form-group">
        <input type="submit" value="Zapisz" class="btn btn-primary" /> | <a asp-action="ListAllContracts">Powrót do listy</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
